_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/.vs
/.vs/cameronmeyer.github.io
.vs/slnx.sqlite
.vsidx
jekyll-redirect-from/
jekyll-seo-tag/
wdm/
webrick/
.wsuo
.vs/cameronmeyer.github.io/v17/.wsuo
.vs/cameronmeyer.github.io/v16/.suo
