<div class="content">
    <div class="block border border-radius-lg flex flex-column lg:flex-row">
        {% if include.video %}
            {% if include.video_first == true %}
                <!-- CONTENT DIV MUST BE INLINED!! -->
                <div class="block-content-mobile" markdown="1">{{ include.content }}</div>
                <div class="block-media">
                    <video class="border-plain" style="border-radius: .5rem" autoplay muted controls loop>
                        <source src="{{ include.video }}" type="video/mp4">
                    </video>
                    {% if include.video2 %}
                        <video class="border-plain" style="border-radius: .5rem" autoplay muted controls loop>
                            <source src="{{ include.video2 }}" type="video/mp4">
                        </video>
                    {% endif %}
                </div>
                <div class="block-content" markdown="1">{{ include.content }}</div>
            {% else %}
                <div class="block-content" markdown="1">{{ include.content }}</div>
                <div class="block-content-mobile" markdown="1">{{ include.content }}</div>
                <div class="block-media">
                    <video class="border-plain" style="border-radius: .5rem" autoplay muted controls loop>
                        <source src="{{ include.video }}" type="video/mp4">
                    </video>
                    {% if include.video2 %}
                        <video class="border-plain" style="border-radius: .5rem" autoplay muted controls loop>
                            <source src="{{ include.video2 }}" type="video/mp4">
                        </video>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
        <div markdown="1">{{ include.content }}</div>
        {% endif %}
    </div>
</div>