<div class="content">
    <div class="block border border-radius-lg flex flex-row">
        {% if include.video %}
            {% if include.video_first == true %}
                <!-- CONTENT DIV MUST BE INLINED!! -->
                <video class="border-plain" style="border-radius: .5rem" autoplay muted controls loop>
                    <source src="{{ include.video }}" type="video/mp4">
                </video>
                <div style="max-width: 50%;" markdown="1">{{ include.content }}</div>
            {% else %}
                <div style="max-width: 50%;" markdown="1">{{ include.content }}</div>
                <video class="border-plain" style="border-radius: .5rem" autoplay muted controls loop>
                    <source src="{{ include.video }}" type="video/mp4">
                </video>
            {% endif %}
        {% else %}
        <div markdown="1">{{ include.content }}</div>
        {% endif %}
    </div>
</div>