<footer class="main">
    <div class="content-wrapper">
        <div class="content">
            <object data="/assets/images/Bars_Reverse.svg" type="image/svg+xml" style="pointer-events: none;"></object>
            <div class="flex flex-row">
                <a class="home-logo align-self-center pr-6" alt="Home" href="/">
                    <object data="/assets/images/CM_Logo.svg" type="image/svg+xml" style="pointer-events: none;"></object>
                </a>
                <div class="flex flex-column">
                    <h1 class="pt-2">
                        Contact me!
                    </h1>
                    <div class="flex flex-column">
                        <a href="mailto: cameron.meyer02@gmail.com">
                            cameron.meyer02@gmail.com
                        </a>
                        <a class="flex flex-row my-1" href="https://www.linkedin.com/in/cameron-meyer/">
                            <i class="icon-linkedin my-auto mr-2"></i>
                            <p class="my-0">Linkedin</p>
                        </a>
                    </div>
                    <div class="my-2 lg:my-0"></div>
                </div>
            </div>
        </div>
    </div>
</footer>