<footer class="main">
    <div class="content-wrapper">
        <div class="content">
            <object data="/assets/images/Bars_Reverse.svg" type="image/svg+xml" style="pointer-events: none; vertical-align: bottom;"></object>
            <div class="flex flex-row my-2">
                <a class="home-logo align-self-center pr-6" alt="Home" href="/">
                    <object data="/assets/images/CM_Logo.svg" type="image/svg+xml" style="pointer-events: none; vertical-align: bottom;"></object>
                </a>
                <div class="flex flex-column">
                    <h1>
                        Contact me!
                    </h1>
                    <div class="flex flex-column">
                        <a href="mailto: cam@cameron-meyer.com">
                            cam@cameron-meyer.com
                        </a>
                        <a class="flex flex-row my-1" href="https://www.linkedin.com/in/cameron-meyer/">
                            <i class="icon-linkedin my-auto mr-2"></i>
                            <p class="my-0">Linkedin</p>
                        </a>
                    </div>
                </div>
                <div class="display-block lg:display-none">
                    {% include spacer.html amount="1rem" %}
                </div>
            </div>
        </div>
    </div>
</footer>