<footer class="main">
    <div class="content-wrapper">
        <div class="content">
            <div class="pt-8"></div>
            <h1>
                Contact me!
            </h1>
            <div>
                <!-- <h3 class="mb-0"> Contact </h3> -->
                <div class="flex flex-row">
                    <a class="flex flex-row my-1" aria-label="Linkedin" href="https://www.linkedin.com/in/cameron-meyer/">
                        <i class="icon-linkedin my-auto mr-2"></i>
                        <p class="display-none lg:display-block my-0">Linkedin</p>
                    </a>
                </div>
            </div>
            <!-- <div class="flex flex-row flex-wrap justify-center font-2xl lg:font-lg py-4">
    </div> -->
            <div class="pt-8"></div>
        </div>
    </div>
</footer>