<nav class="main line-1">
    <div class="content-wrapper bg-black">
        <div class="content">
            <div class="flex flex-column lg:flex-row items-center">
                <div class="flex flex-row items-center lg:mr-auto w-full lg:w-auto">
                    <h4 class="logo-shadow-cascade pt-1 pb-3"> CM </h4>

                    {% include burger.html id="nav-burger" class="ml-auto lg:display-none" %}
                </div>

                <!-- links -->
                <div class="links flex flex-column lg:flex-row justify-start w-full lg:w-auto text-center overflow-hidden stateful" for="nav-burger">
                    {% for item in site.data.navigation %}
                        {% if item.subitems %}
                            <!-- base of hover dropdown -->
                            <div class="dropdown w-full items-center lg:m-4 py-3 ">
                                <p class="dropbtn">{{item.title}}</p>
                                <div class="dropdown-content w-full">
                                {% for subitem in item.subitems %}
                                    <!-- items of hover dropdown -->
                                    <a class="link h-full px-4 {% if page.title == subitem.title %} current-page {% endif %}" href="{{ subitem.link }}"> {{ subitem.title }} </a>
                                {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a class="link w-full lg:m-4 py-3 {% if page.title == item.title %} current-page {% endif %}" href="{{ item.link }}"> {{ item.title }} </a>
                        {% endif %}
                    {% endfor %}
                    <div class="pt-4"></div>
                </div>

                <!-- dots row -->
                <div class="ml-auto lg:flex flex-row display-none">
                    <div class="dot-1 border-radius-full"></div>
                    <div class="dot-2 border-radius-full ml-2"></div>
                    <div class="dot-3 border-radius-full ml-2"></div>
                    <div class="dot-4 border-radius-full ml-2"></div>
                </div>
            </div>
            <div class="gradient-line"></div>
        </div>
    </div>
</nav>
<div style="height: calc(4rem + 1px);"></div>
