<nav class="main line-1">
    <div class="content-wrapper">
        <div class="content">
            <div class="flex flex-row items-center">
                <a class="home-logo" alt="Home" href="/">
                    <object data="/assets/images/CM_Logo.svg" type="image/svg+xml" style="pointer-events: none;"></object>
                </a>

                <div class="links flex flex-row">
                    <a class="link mx-2" href="/" style="width: 62.1181%;">
                        <object data="{% if page.title == "Home" %} /assets/images/Home_Logo_Active.svg {% else %} /assets/images/Home_Logo.svg {% endif %}" type="image/svg+xml" style="pointer-events: none;"></object>
                    </a>

                    <a class="link mx-2" href="/about/" style="width: 71.3171%;">
                        <object data="{% if page.title == "About" %} /assets/images/About_Logo_Active.svg {% else %} /assets/images/About_Logo.svg {% endif %}" type="image/svg+xml" style="pointer-events: none;"></object>
                    </a>

                    <div class="dropdown items-center mx-2" style="width: 100%;">
                        {% assign projectsLogo = "/assets/images/Projects_Logo.svg" %}
                        {% for item in site.data.navigation %}
                            {% if item.project and page.title == item.title %}
                                {% assign projectsLogo = "/assets/images/Projects_Logo_Active.svg" %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        <object data="{{ projectsLogo }}" type="image/svg+xml" style="pointer-events: none;"></object>
                        <div class="dropdown-content flex flex-column w-full lg:w-auto">
                            {% for item in site.data.navigation %}
                                {% if item.project %}
                                    <!-- items of hover dropdown -->
                                    <a class="link text-center {% if page.title == item.title %} current-page {% endif %}" style="margin-top: 0.125rem;" href="{{ item.link }}"> {{ item.title }} </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="dots flex flex-row">
                    <div class="dot-1 border-radius-full"></div>
                    <div class="dot-2 border-radius-full ml-2"></div>
                    <div class="dot-3 border-radius-full ml-2"></div>
                    <div class="dot-4 border-radius-full ml-2"></div>
                </div>
            </div>
            <object data="/assets/images/Bars.svg" type="image/svg+xml" style="pointer-events: none;"></object>
        </div>
    </div>
</nav>
<div style="height: calc(6rem + 1px);"></div>
