@import '_colors';

$box-border: .2rem;
$box-shadow-x: .25rem;
$box-shadow-y: .25rem;
$box-shadow-x-hover: .1rem;
$box-shadow-y-hover: .1rem;

.border, .border-button, a.border-button, .border-image, .border-image-circle, .border-plain {
    //color: $clr-white;
    background-color: $clr-cream;
    border: $box-border solid $clr-jalapeno-red;
}

.border, .border-image, .border-image-circle {
    margin-right: $box-shadow-x*3;
    margin-bottom: $box-shadow-y*3;
    box-shadow: $box-shadow-x $box-shadow-y $clr-jalapeno-red, $box-shadow-x*2 $box-shadow-y*2 $clr-mandarin-red, $box-shadow-x*3 $box-shadow-y*3 $clr-squash-blossom;
}

@media (max-width: 991px) {
    .block-content {
        display: none;
        visibility: hidden;
        opacity: 0;
        height: 0px;
        max-height: 0px;
        width: 0px;
        max-width: 0px;
        margin: 0 !important;
    }

    .block-content-mobile {
        margin-bottom: 0px !important;

        p {
            margin-bottom: 0px !important;
        }
    }

    .block-media {
        margin: 0.5rem !important;
    }
}

@media (min-width: 992px) {
    .block-content {
        max-width: 40%;
    }

    .block-content-mobile {
        display: none;
        visibility: hidden;
        opacity: 0;
        height: 0px;
        max-height: 0px;
        width: 0px;
        max-width: 0px;
        margin: 0 !important;
    }

    .block-media {
        flex-grow: 1;
    }
}

.block {
    div {
        display: flex;
        flex-direction: column;
        margin: 1rem 0.5rem 1rem 0.5rem;
    }

    h1, h2, h3, h4 {
        text-align: center;
    }

    video, image {
        overflow: hidden;
        align-self: center;
        width: 100%;
    }

    .block-media {
        gap: 0.5rem;
    }
}

.border-button {
    margin-right: $box-shadow-x*4.5;
    margin-bottom: $box-shadow-y*4.5;
    transition: border .1s ease-in-out, box-shadow .25s ease-in-out;
}

.border-button {
    img, video {
        border: $box-border solid $clr-jalapeno-red;
        border-radius: .5rem;
        transition: border .1s ease-in-out;
    }

    h1 {
        transition: color .1s ease-in-out;
    }
}

.border-button:hover {
    img, video {
        border: $box-border solid $clr-squash-blossom;
        transition: border .1s ease-in-out;
    }

    h1 {
        color: $clr-squash-blossom;
        transition: color .1s ease-in-out;
    }
}

.border-button:hover {
    border: $box-border solid $clr-squash-blossom;
    box-shadow: $box-shadow-x*1.5 $box-shadow-y*1.5 $clr-squash-blossom, $box-shadow-x*3 $box-shadow-y*3 $clr-mandarin-red, $box-shadow-x*4.5 $box-shadow-y*4.5 $clr-jalapeno-red;
    transition: box-shadow .1s ease-in-out, border .2s ease-in-out;
    //border: 1px solid $clr-squash-blossom;
    //box-shadow: $box-shadow-x-hover $box-shadow-y-hover $clr-squash-blossom;
    //transform: translateX($box-shadow-x - $box-shadow-x-hover) translateY($box-shadow-y - $box-shadow-y-hover)
}

.border-image {
    border-radius: .5rem;
}

.border-image-circle {
    border-radius: 50%;
    //box-shadow: $box-shadow-x*1.5 $box-shadow-y*1.5 $clr-squash-blossom, $box-shadow-x*3 $box-shadow-y*3 $clr-mandarin-red, $box-shadow-x*4.5 $box-shadow-y*4.5 $clr-jalapeno-red;
}
