:root {
    --sgda_blue: #36a8b3;
    --sgda_green: #74b336;
    --sgda_yellow: #ffcf40;
    --sgda_red: #cc3629;


    --mandarin-red: #e55039;
    --squash-blossom: #f6b93b;
    --jalapeno-red: #b71540;
    --dark-sapphire: #0c2461;
}

body
{
    font-family: "Signika Negative", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;

    color: $clr-white;
    background-color: $clr-black;
    //background: url('/assets/images/TileablePatternBlack-168.png') repeat;
    
    padding: 0;
    margin: 0;

    animation: slide 10s linear infinite;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

    //font-family: "brandon-grotesque", sans-serif;
    text-transform: uppercase;
    //font-weight: bold;
    
    //margin-top: 1.5rem;
    //margin-bottom: .75rem;
}

p
{
    margin: .75rem 0;
}

hr
{
    height: .15rem;
    margin: 2rem 0 3rem;

    border: none;
    background-color: $clr-darkwhite;
    border-radius: 3px;
}

// reponsive layout base
.content-wrapper
{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

$max-width: 900px;
.content, .children-are-content > *:not(.ignore)
{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: $max-width)
{
    .children-are-content > *:not(.ignore)
    {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

// changes text color with each occurance of h1 on page
main.children-are-content {
    > h1, .h-color {
        color: $clr-mandarin-red;
    }
    /*> h1:nth-of-type(2n), .h-color:nth-of-type(2n) {
        color: $clr-livid;
    }

    > h1:nth-of-type(3n), .h-color:nth-of-type(3n) {
        color: $clr-mandarin-red;
    }

    > h1:nth-of-type(4n), .h-color:nth-of-type(4n) {
        color: $clr-reef-encounter;
    }*/
}

// hide half rule if at bottom of content
// simplifies list iterations
main > hr:last-child
{
    display: none;
}

// default links
a, a:visited, a:focus {
    text-decoration: none;
    color: $clr-livid;
    transition: color .15s;
}

a:hover {
    text-decoration: none;
    color: $clr-squash-blossom;
}

a.button {
    background-color: $clr-livid;
    color: $clr-dark-sapphire;
    padding: .5rem 1rem;
    transition: all .1s;
    border-radius: 3px;
}

a.button:hover {
    background-color: $clr-squash-blossom;
    color: $clr-dark-sapphire;
}

// arrow animation
a .icon-arrow-right
{
    transition: all ease-out .15s;
}

a:focus .icon-arrow-right
{
    transform: translateX(25px);
    opacity: 0;
}

// default button
button
{
    border: none;
}

// raisincss extension
.h-fit
{
    height: fit-content;
}

.sz-fit
{
    width: fit-content;
    height: fit-content;
}

.line-1
{
    line-height: 1;
}

@media (min-width: 576px)
{
    .sm\:w-max-1\/2
    {
        max-width: 50%;
    }
}

// colors
.bg-black
{
    background-color: $clr-black !important;
}

.bg-white
{
    background-color: $clr-white !important;
}

.c-white
{
    color: $clr-white !important;
}

h1.logo-shadow-cascade {
    font-size: 8rem;
    line-height: 8.75rem;
    transform: skewY(-7deg);
    
    margin-top: 2rem;
    margin-bottom: 3rem;
    
    color: darken($clr-white, 5);

    $offset-x: .34rem;
    $offset-y: .5rem;
    text-shadow: $clr-dark-sapphire $offset-x $offset-y, $clr-jalapeno-red $offset-x*2 $offset-y*2, $clr-mandarin-red $offset-x*3 $offset-y*3, $clr-squash-blossom $offset-x*4 $offset-y*4;
}

h1.subtitle {
    font-size: 3.5rem;
    //color: $clr-squash-blossom;

    //$offset-x: .227rem;
    //$offset-y: .333rem;
    //text-shadow: $clr-dark-sapphire $offset-x/2 $offset-y/2, $clr-mandarin-red $offset-x*2 $offset-y*2, $clr-jalapeno-red $offset-x*3 $offset-y*3;
}

h4.logo-shadow-cascade {
    font-size: 2rem;
    transform: skewY(-7deg);
    //margin-bottom: 1rem;
    color: darken($clr-white, 5);

    $offset-x: .125rem;
    $offset-y: .125rem;
    text-shadow: $clr-dark-sapphire $offset-x $offset-y, $clr-jalapeno-red $offset-x*2 $offset-y*2, $clr-mandarin-red $offset-x*3 $offset-y*3, $clr-squash-blossom $offset-x*4 $offset-y*4;
}

@media (max-width: 768px)
{
    h1.logo-shadow-cascade
    {
        font-size: 5rem;
    }
}

@keyframes slide
{
    0%
    {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: 100px;
        background-position-y: 100px;
    }
}