@import "_colors";

footer.main {
    @media (max-width: 991px) {
        padding-top: 2px;
        background-color: $clr-cream;
        //background: linear-gradient(90deg, $clr-jalapeno-red 10%, $clr-mandarin-red 20%, $clr-squash-blossom 40%, $clr-flat-flesh 50%, $clr-squash-blossom 60%, $clr-mandarin-red 80%, $clr-jalapeno-red 90%);

        a {
            transition: background-color .1s;
        }

        a:hover {
            background-color: darken($clr-cream, 8);
        }

        .links {
            max-height: 0;
            transition: max-height .3s;
        }

        .links.active {
            max-height: 13rem;
        }

        .home-logo {
            max-width: 30%;
            flex: 1 1 5%;
        }
    }

    @media (min-width: 992px) {
        .content {
            padding-top: 2px;
            background-color: $clr-cream;

            > * {
                background-color: $clr-cream;
            }
        }

        .home-logo {
            max-width: 16.5%;
            flex: 1 1 5%;
        }
    }
}